# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Konsolowy.v12.suo
Konsolowy.sdf
Konsolowy.sdf
Debug/Konsolowy.exe
Debug/Konsolowy.pdb
Konsolowy.sdf
Konsolowy.v12.suo
*.log
*.tlog
Konsolowy/Debug/vc120.pdb
Konsolowy/Debug/MyForm.obj
Konsolowy/Debug/Konsolowy.vcxproj.GenerateResource.Cache
Konsolowy/Debug/Konsolowy.tlog/Konsolowy.lastbuildstate
